################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Codebase2017.Cannes/packages
/Codebase2017.Cannes/WebApplication1/bin
/Codebase2017.Cannes/WebApplication1/obj/Debug
/Codebase2017.Cannes/WebApplication1/node_modules
